* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#009688 20%, #D8DBD6 20%);
}
ul {
  list-style: none;
}
.container {
  display: flex;
  width: 93%;
  height: 83%;
  background-color: white;
}
/* Pannello di sinistra */
.panel-left {
  width: 35%;
  height: 100%;
  border-right: 1px solid #D7D7D7;
}
.profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6%;
  background-color: #EAEAEA;
}
.user {
  width: 60%;
  display: flex;
  align-items: center;
}
#profile-avatar {
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
}
.user > span {
  margin-left: 5px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}
.icons > i {
  font-size: 20px;
  margin-right: 25px;
  color: #B1B1B1;
}
.notifications {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #8EDAFC;
}
#bell {
  padding: 12px;
  margin-left: 15px;
  background-color: white;
  border-radius: 50px;
  color: #8EDAFC;
  font-size: 22px;
}
.notifications > p {
  margin-left: 10px;
  font-size: 17px;
}
#text-notifications {
  margin-left: 10px;
  font-size: 20px;
}
#text-notifications span {
  font-size: 15px;
  color: #71858E;
}
/* Panel search */
.search {
  display: flex;
  align-items: center;
  height: 8%;
  background-color: #FAFAFA;
  color: #C1C5C7;
}
.icon-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11%;
  height: 40px;
  margin-left: 15px;
  background-color: white;
}
.input-search {
  display: flex;
  height: 40px;
  width: 83%;
}
.input-search > input {
  width: 100%;
  font-size: 15px;
  border: none
}
/* Panel friend */

.friend ul img {
  width: 50px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 50px;
}
.friend ul li {
  display: flex;
  align-items: center;
}
.friend span {
  margin-left: 15px;
}
/* /Pannello di sinistra */
/* Pannello di destra */
.panel-right {
  width: 65%;
  height: 100%;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}
.chat {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6%;
  background-color: #EAEAEA;
}
.user-chat {
  width: 60%;
  display: flex;
  align-items: center;
}
#profile-avatar-chat {
  width: 44px;
  margin-left: 10px;
  border-radius: 50px;
}
.user-chat > span {
  margin-left: 15px;
}
/* Chat send and received */
.container-message {
  display: flex;
}
.message-received {
  display: flex;
  align-items: center;
  width: 40%;
  margin-top: 100px;
  border-radius: 15px;
  margin-left: 70px;
  background-color: white;
}
.message-send {
  display: flex;
  align-items: center;
  width: 40%;
  margin-top: 50px;
  border-radius: 15px;
  margin-left: 70px;
  background-color: #D5F9BA;
}
.message-send span {
  margin-left: 20px;
}

/* Input text */
.input-text {
  height: 94%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  color: #6B7376;
}
.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 9%;
  background-color: #F3EEEA;
}
.emoticon {
  margin-left: 35px;
}
.set-message {
  width: 80%;
}
.set-message input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 17px;
}

.microphone {
  margin-right: 35px;
}
/* /Pannello di destra */
