<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Whatsapp</title>
  </head>
  <body>
    <div class="container">
    <!-- Panel left -->
      <div class="panel-left">
        <div class="profile">
          <div class="user">
            <img id="profile-avatar" src="https://cdn1.iconfinder.com/data/icons/avatars-55/100/avatar_profile_user_music_headphones_shirt_cool-512.png" alt="profile-avatar">
            <span>Daniele</span>
          </div>
          <div class="icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="notifications">
          <div id="bell">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div id="text-notifications">
            <p>Ricevi notifiche di nuovi mesaggi</p>
            <span><u>Attiva notifiche desktop</u></span>
          </div>

        </div>
      <!-- Search -->
        <div class="search">
          <div class="icon-search">
            <i class="fas fa-search"></i>
          </div>
          <div class="input-search">
            <input type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
        </div>
      <!-- /Search -->
      <!-- Friend -->
        <div class="friend">
          <ul>
            <li v-for="(item,index) in contacts">
              <img :src="item.avatar" :alt="item.name">
              <span>{{item.name}}</span>
            </li>
          </ul>
        </div>
      <!-- /Friend -->
      </div>
    <!-- /Panel left -->
    <!-- /Panel right -->
      <div class="panel-right">
      <!-- Chat up -->
        <div class="chat">
            <div class="user-chat">
              <img id="profile-avatar-chat" src="https://cdn5.vectorstock.com/i/1000x1000/17/14/male-hacker-avatar-icon-image-vector-17311714.jpg" alt="profile-avatar">
              <span>Michele</span>
            </div>
            <div class="icons">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <!-- Chat send and received -->
        <div class="container-message">
          <div :class=""class="message-send clerfix active">
            <ul>
              <li v-for="item in contacts[1].messages" v-if="item.status=='sent'">
                {{item}}
              </li>
            </ul>
          </div>
          <div class="message-received clearfix">
            <ul>
              <li v-for="item in contacts[1].messages" v-if="item.status=='received'">
                {{item}}
              </li>
            </ul>
          </div>
        </div>

      <!-- Write message -->
        <div class="input-text">
          <div class="bar">
            <div class="emoticon">
              <i class="far fa-grin-alt"></i>
            </div>
            <div class="set-message">
              <input type="text" placeholder="Scrivi un messaggio">
            </div>
            <div class="microphone">
              <i class="fas fa-microphone"></i>
            </div>
          </div>
        </div>
      </div>
    <!-- Pannello di destra  -->
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
